@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color variables for both light and dark modes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --input-background-light: 255, 255, 255;
  --input-text-light: 0, 0, 0;
  --input-border-light: 200, 200, 200;
  --input-background-dark: 30, 30, 30;
  --input-text-dark: 255, 255, 255;
  --input-border-dark: 60, 60, 60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Input and textarea styling for dark mode */
input,
textarea {
  background-color: rgb(var(--input-background-light));
  color: rgb(var(--input-text-light));
  border: 1px solid rgb(var(--input-border-light));
}

@media (prefers-color-scheme: dark) {

  input,
  textarea {
    background-color: rgb(var(--input-background-dark));
    color: rgb(var(--input-text-dark));
    border: 1px solid rgb(var(--input-border-dark));
  }
}